PAYHERE_MERCHANT_ID=your_payhere_merchant_id
PAYHERE_MERCHANT_SECRET=your_payhere_merchant_secret
PAYHERE_PREMIUM_AMOUNT=1000.00
PAYHERE_PREMIUM_CURRENCY=LKR
PMW_SITE_ORIGINS=https://pmwvisuals.com,https://pmwvisuals.github.io
PAYHERE_SANDBOX=true

